src/test/resources/xsd/VO_RIGF_2_311_27_04_03_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Sheviakova (EMBRACE) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:exch:document:1.0" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:u="http://www.w3.org/2001/XMLSchema1" xmlns:i="http://www.w3.org/2001/XMLSchema2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Сведения, содержащиеся в Едином государственном реестре индивидуальных предпринимателей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИдОтпр" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения об отправителе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИООтв" type="ФИО1Тип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество ответственного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ДолжОтв" use="optional">
							<xs:annotation>
								<xs:documentation>Должность ответственного лица</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Тлф" use="optional">
							<xs:annotation>
								<xs:documentation>Номер контактного телефона</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="E-mail" use="optional">
							<xs:annotation>
								<xs:documentation>E-mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвИП">
								<xs:annotation>
									<xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СвФЛ">
											<xs:annotation>
												<xs:documentation>ФИО и пол ИП или главы КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИОРус" type="ФИО1Тип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица на русском языке</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОЛат" type="ФИО1Тип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица с использованием букв латинского алфавита</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Пол" use="required">
													<xs:annotation>
														<xs:documentation>Пол</xs:documentation>
														<xs:documentation>, где:
														1 - мужской;
2 - женский</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРожд" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о рождении</xs:documentation>
												<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата рождения</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="МестоРожд" use="required">
													<xs:annotation>
														<xs:documentation>Место рождения</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрДатаРожд" use="optional">
													<xs:annotation>
														<xs:documentation>Признак полноты представляемой даты рождения физического лица</xs:documentation>
														<xs:documentation>
											, где:
											1 – только год (сведения о месяце и дне в указанном месяце отсутствуют);
2 – только месяц и код (сведения о дне в указанном месяце отсутствуют);
3 – полная дата.
Отсутствие указанного реквизита означает полную дату рождения (соответствует значению ПрДатаРожд=3)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвГражд">
											<xs:annotation>
												<xs:documentation>Сведения о гражданстве</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ВидГражд" use="required">
													<xs:annotation>
														<xs:documentation>Вид гражданства</xs:documentation>
														<xs:documentation>, где:
														1 - для гражданина Российской Федерации;
2 - для иностранного гражданина;
3 - для лица без гражданства</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКСМ" type="ОКСМТип" use="optional">
													<xs:annotation>
														<xs:documentation>Код страны, гражданином которой является физическое лицо</xs:documentation>
														<xs:documentation>
														Реквизит формируется только в отношении иностранного гражданина. При этом указывается 3-х значный цифровой код по общероссийскому классификатору стран мира (ОКСМ)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимСтран" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование страны по справочнику ОКСМ, гражданином которой является физическое лицо</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвУдЛичнФЛ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность физического лица </xs:documentation>
												<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="УдЛичнФЛ" type="УдЛичнТипР">
														<xs:annotation>
															<xs:documentation>Данные документа, удостоверяющего личность</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях </xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвПравЖитРФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, подтверждающем право иностранного гражданина или лица без гражданства временно или постоянно проживать на территории Российской Федерации  </xs:documentation>
												<xs:documentation>Ограниченный доступ. Выгружаются только органам, которым по действующему законодательству предоставляются указанные сведения</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ДокПравЖитРФ" type="УдЛичнТипР">
														<xs:annotation>
															<xs:documentation>Вид и данные документа, подтверждающего право физического лица временно или постоянно проживать на территории Российской Федерации</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="СрокДействДок" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Срок действия документа</xs:documentation>
														<xs:documentation>
														Указывается дата до которой действует документ, подтверждающий право на проживание на территории Российской Федерации иностранного гражданина или лица без гражданства</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАдрМЖ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об адресе (месте жительства) индивидуального предпринимателя или главы КФХ </xs:documentation>
												<xs:documentation>Ограниченный доступ. Выгружаются только органам госвласти и местного самоуправления, а также во внебюджетные фонды</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="АдресРФ" type="АдрРФТипВып">
														<xs:annotation>
															<xs:documentation>Адрес (место жительства) индивидуального предпринимателя</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАдрЭлПочты" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="E-mail" use="required">
													<xs:annotation>
														<xs:documentation>Адрес электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="45"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегИП">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвКФХ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
															<xs:documentation>Сведения формируются только в отношении КФХ, сведения о котором внесены в ЕГРИП на основании заявления по форме Р27002</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																		<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ОГРН" type="ОГРНТип" use="required">
																<xs:annotation>
																	<xs:documentation>ОГРН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ИНН" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимЮЛПолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="required">
													<xs:annotation>
														<xs:documentation>Основной государственный регистрационный номер</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаОГРНИП" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
														<xs:documentation>Для ИП, зарегистрированных после 01.01.2004 г., является датой регистрации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="РегНом" use="optional">
													<xs:annotation>
														<xs:documentation>Регистрационный номер, присвоенный 
до 1 января 2004 года</xs:documentation>
														<xs:documentation>Формируется только для ИП или глав КФХ, зарегистрированных до 01.01.2004 г.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРег" use="optional">
													<xs:annotation>
														<xs:documentation>Дата регистрации до 1 января 2004 года</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимРО" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование органа, зарегистрировавшего ИП или КФХ до 1 января 2004 года</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="3"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегОрг">
											<xs:annotation>
												<xs:documentation>Сведения о регистрирующем органе по месту жительства ИП или главы КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="КодНО" type="СОНОТип" use="required">
													<xs:annotation>
														<xs:documentation>Код органа по справочнику СОНО</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимНО" use="required">
													<xs:annotation>
														<xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="10"/>
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АдрРО" use="optional">
													<xs:annotation>
														<xs:documentation>Адрес регистрирующего органа</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="10"/>
															<xs:maxLength value="128"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвСтатус" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о состоянии (статусе) ИП или КФХ </xs:documentation>
												<xs:documentation>Формируется только в отношении ИП или КФХ, для которых код состояния (статуса) по справочнику СИПСТ принимает одно из следующих значений: 101, 102, 103, 104, 601, 602, 701, 702, 801 или 802 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвСтатус">
														<xs:annotation>
															<xs:documentation>Сведения о правоспособности (статусе) индивидуального предпринимателя</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Код статуса по справочнику СИПСТ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование статуса по справочнику СИПСТ (состояние)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="5"/>
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвПрекращ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о прекращении деятельности в качестве ИП или о прекращении КФХ </xs:documentation>
												<xs:documentation>Формируется только в отношении ИП или КФХ, для которых код состояния (статуса) по справочнику СИПСТ принимает значение больше 200 и меньше 600 </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвСтатус">
														<xs:annotation>
															<xs:documentation>Сведения о способе прекращения</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Код способа прекращения по справочнику СИПСТ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование способа прекращения по справочнику СИПСТ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="5"/>
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаПрекращ" use="required">
																<xs:annotation>
																	<xs:documentation>Дата прекращения</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвНовЮЛ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
															<xs:documentation>Может формироваться только в случае, если код способа прекращения деятельности = 401 (КФХ прекратило деятельность в связи с созданием на базе имущества КФХ производственного кооператива или хозяйственного товарищества)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																		<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ОГРН" type="ОГРНТип" use="required">
																<xs:annotation>
																	<xs:documentation>Основной государственный регистрационный номер юридического лица, созданного на базе имущества крестьянского (фермерского) хозяйства</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ИНН" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимЮЛПолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвУчетНО" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation/>
													</xs:annotation>
													<xs:element name="СвНО">
														<xs:annotation>
															<xs:documentation>Сведения о налоговом органе, в котором ИП (глава КФХ) состоит (для ИП (КФХ), прекративших деятельность  - состояли) на учете</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодНО" type="СОНОТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код органа по справочнику СОНО</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимНО" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование налогового органа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="250"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>Идентификационный номер налогоплательщика (ИНН)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаПостУч" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегПФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации в качестве страхователя в территориальном органе 
Пенсионного фонда Российской Федерации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОргПФ">
														<xs:annotation>
															<xs:documentation>Сведения о территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодПФ" use="required">
																<xs:annotation>
																	<xs:documentation>Код по справочнику СТОПФ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="3"/>
																		<xs:maxLength value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимПФ" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование территориального органа Пенсионного фонда</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="РегНомПФ" use="required">
													<xs:annotation>
														<xs:documentation>Регистрационный номер в территориальном органе Пенсионного фонда Российской Федерации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРег" use="required">
													<xs:annotation>
														<xs:documentation>Дата регистрации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегФСС" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации в качестве страхователя в исполнительном органе 
Фонда социального страхования Российской Федерации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОргФСС">
														<xs:annotation>
															<xs:documentation>Сведения об  исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодФСС" use="required">
																<xs:annotation>
																	<xs:documentation>Код по справочнику СТОФСС</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="4"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимФСС" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование исполнительного органа Фонда социального страхования</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="РегНомФСС" use="required">
													<xs:annotation>
														<xs:documentation>Регистрационный номер в исполнительном органе Фонда социального страхования Российской Федерации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРег" use="required">
													<xs:annotation>
														<xs:documentation>Дата регистрации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвОКВЭД" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о видах экономической деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОКВЭДОсн" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения об основном виде деятельности</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																		<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="КодОКВЭД" type="ОКВЭДТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимОКВЭД" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="1000"/>
																		<xs:minLength value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ПрВерсОКВЭД" use="optional">
																<xs:annotation>
																	<xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
																	<xs:documentation>-	2001 – если код соответствует версии ОКВЭД ОК 029-2001 (КДЕС Ред. 1);
-	2014 – если код соответствует версии ОКВЭД ОК 029-2014 (КДЕС Ред. 2). (КДЕС Ред. 1).
Отсутствие данного атрибута в файле означает, что при внесении кода ОКВЭД использовался классификатор ОК 029-2001 (КДЕС Ред. 1)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="4"/>
																		<xs:enumeration value="2001"/>
																		<xs:enumeration value="2014"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвОКВЭДДоп" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о дополнительном виде деятельности</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																		<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="КодОКВЭД" type="ОКВЭДТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимОКВЭД" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="1000"/>
																		<xs:minLength value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ПрВерсОКВЭД" use="optional">
																<xs:annotation>
																	<xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
																	<xs:documentation>-	2001 – если код соответствует версии ОКВЭД ОК 029-2001 (КДЕС Ред. 1);
-	2014 – если код соответствует версии ОКВЭД ОК 029-2014 (КДЕС Ред. 2). (КДЕС Ред. 1).
Отсутствие данного атрибута в файле означает, что при внесении кода ОКВЭД использовался классификатор ОК 029-2001 (КДЕС Ред. 1)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="4"/>
																		<xs:enumeration value="2001"/>
																		<xs:enumeration value="2014"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвЛицензия" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
												<xs:documentation>Передаются сведения только о действующих лицензиях или лицензиях, действие которых приостановлено. При передаче сведений об ИП (КФХ), прекратившем деятельность, сведения о лицензиях не передаются</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НаимЛицВидДеят" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Наименование лицензируемого вида деятельности, на который выдана лицензия</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="МестоДейстЛиц" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения об адресе места осуществления лицензируемого вида деятельности</xs:documentation>
															<xs:documentation>Элемент не формируется, если конкретное место осуществления лицензируемого вида деятельности в лицензии не указано или указано в географических координатах.
При наличии - сведения указываются в отношении каждого адреса места осуществления лицензируемого вида деятельности
</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="5"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ЛицОргВыдЛиц" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
															<xs:documentation>Формируется в случае наличия указанных сведений в ЕГРИП</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="500"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
															<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвПриостЛиц" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
															<xs:documentation>Формируется в случае, если на момент выдачи сведений в ЕГРИП имеются сведения о том, что лицензия приостановлена</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																		<xs:documentation>Отсутствует, если в указанных сведениях не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ДатаПриостЛиц" use="required">
																<xs:annotation>
																	<xs:documentation>Дата приостановления действия лицензии</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ЛицОргПриостЛиц" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="СерЛиц" use="optional">
													<xs:annotation>
														<xs:documentation>Серия лицензии</xs:documentation>
														<xs:documentation>Является обязательным, если выданная лицензия имеет такой реквизит </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
															<xs:minLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомЛиц" use="required">
													<xs:annotation>
														<xs:documentation>Номер лицензии</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ВидЛиц" use="optional">
													<xs:annotation>
														<xs:documentation>Вид лицензии</xs:documentation>
														<xs:documentation>Является обязательным, если выданная лицензия имеет такой реквизит </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
															<xs:minLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаЛиц" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата лицензии</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаНачЛиц" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата начала действия лицензии</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаОкончЛиц" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата окончания действия лицензии</xs:documentation>
														<xs:documentation>
											Является обязательным, если выданная лицензия имеет такой реквизит </xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвЗапЕГРИП" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ВидЗап" type="ВидЗапТип">
														<xs:annotation>
															<xs:documentation>Сведения о причине внесения записи в ЕГРИП</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвРегОрг" type="СвРегОргТип">
														<xs:annotation>
															<xs:documentation>Сведения о регистрирующем (налоговом) органе, внесшем запись в ЕГРИП</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СведПредДок" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о документах, представленных при внесении записи в ЕГРИП</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="НаимДок">
																	<xs:annotation>
																		<xs:documentation>Наименование документа</xs:documentation>
																		<xs:documentation>При отсутствии наименования документа указывается наименование вида документа по справочнику СВДРЕГ</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																			<xs:minLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="НомДок" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер документа</xs:documentation>
																		<xs:documentation>В отношении документов, удостоверяющих личность физического лица, сведения не указываются</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																			<xs:minLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ДатаДок" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Дата документа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:date">
																			<xs:minInclusive value="1900-01-01"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвСвид" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
															<xs:documentation>Формируется в отношении выданных свидетельств (включая свидетельства, выданные повторно), а также свидетельств, признанных недействительными по решению суда</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДатаСвидНед" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей сведения о признании свидетельства недействительным по решению суда </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Серия" use="required">
																<xs:annotation>
																	<xs:documentation>Серия бланка свидетельства</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Номер" use="required">
																<xs:annotation>
																	<xs:documentation>Номер бланка свидетельства</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="7"/>
																		<xs:maxLength value="9"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВыдСвид" use="required">
																<xs:annotation>
																	<xs:documentation>Дата выдачи свидетельства </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДатаИспрПред" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата записи, в которую внесены исправления</xs:documentation>
															<xs:documentation>Формируется только в случае, если данной записью были внесены исправления (корректировки) в сведения другой записи</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ИдЗап" use="required">
																<xs:annotation>
																	<xs:documentation>Системный идентификатор записи</xs:documentation>
																	<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="19"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
																<xs:annotation>
																	<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
																	<xs:documentation>Может отсутствовать, если запись в ЕГРИП внесена без присвоения государственного регистрационного номера</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаЗап" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДатаНедПред" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата записи, которая признана недействительной</xs:documentation>
															<xs:documentation>Формируется только в случае, если данной записью  была признана недействительной (ошибочной)  другая запись</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ИдЗап" use="required">
																<xs:annotation>
																	<xs:documentation>Системный идентификатор записи</xs:documentation>
																	<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="19"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
																<xs:annotation>
																	<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
																	<xs:documentation>Может отсутствовать, если запись в ЕГРИП внесена без присвоения государственного регистрационного номера</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаЗап" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвСтатусЗап" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о статусе записи</xs:documentation>
															<xs:documentation>Формируется только в случае, если в данную запись были внесены исправления (корректировки) другой записью или данная запись признана недействительной (ошибочной) другой записью</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДатаНед" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения записи, которой запись признана недействительной</xs:documentation>
																		<xs:documentation>Отсутствует, если данная запись не была признана недействительной (ошибочной) другой записью </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИдЗап" use="required">
																			<xs:annotation>
																				<xs:documentation>Системный идентификатор записи</xs:documentation>
																				<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="19"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
																			<xs:annotation>
																				<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
																				<xs:documentation>Может отсутствовать, если запись в ЕГРИП внесена без присвоения государственного регистрационного номера</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="ДатаЗап" use="required">
																			<xs:annotation>
																				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:date"/>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата записи, которой внесены исправления в связи с технической ошибкой</xs:documentation>
																		<xs:documentation>Отсутствует, если в сведениях, внесенных в ЕГРИП по данной записи, не исправлялись технические ошибки </xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИдЗап" use="required">
																			<xs:annotation>
																				<xs:documentation>Системный идентификатор записи</xs:documentation>
																				<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="19"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
																			<xs:annotation>
																				<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
																				<xs:documentation>Может отсутствовать, если запись в ЕГРИП внесена без присвоения государственного регистрационного номера</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="ДатаЗап" use="required">
																			<xs:annotation>
																				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:date"/>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИдЗап" use="required">
													<xs:annotation>
														<xs:documentation>Системный идентификатор записи</xs:documentation>
														<xs:documentation>При наличии государственного регистрационного номера записи может совпадать с этим номером</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="19"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
													<xs:annotation>
														<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
														<xs:documentation>Может отсутствовать, если запись в ЕГРИП внесена без присвоения государственного регистрационного номера</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаЗап" use="required">
													<xs:annotation>
														<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ДатаВып" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата формирования сведений из ЕГРИП в отношении индивидуального предпринимателя</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="required">
										<xs:annotation>
											<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаОГРНИП" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН физического лица</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодВидИП" use="required">
										<xs:annotation>
											<xs:documentation>Код вида предпринимательства: индивидуальный предприниматель/глава крестьянского (фермерского) хозяйства</xs:documentation>
											<xs:documentation>, где:
												1 – индивидуальный предприниматель;
2 – глава крестьянского фермерского хозяйства.
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НаимВидИП" use="required">
										<xs:annotation>
											<xs:documentation>Наименование вида предпринимательства: индивидуальный предприниматель/глава крестьянского (фермерского) хозяйства</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="10"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
								<xs:documentation>Для присвоения номера используется глобально уникальный идентификатор (GUID)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя передаваемого файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ЕГРИП_ОТКР_СВЕД"/>
						<xs:enumeration value="ЕГРИП_ЗАКР_СВЕД"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="optional">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ВидЗапТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде записи, внесенной в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодСПВЗ" use="required">
			<xs:annotation>
				<xs:documentation>Код вида записи (причины внесения записи в ЕГРИП)  по справочнику СПВЗ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="5"/>
					<xs:pattern value="[0-9]{5}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимВидЗап" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида записи (причины внесения записи в ЕГРИП) </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="5"/>
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрРФТипВып">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации (для выписок из ЕГРЮЛ/ЕГРИП)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипРегион" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта субъект (республика, край и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимРегион" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта субъект </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Район" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район (улус и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипРайон" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта район (улус и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимРайон" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта район (улус и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Город" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город (волость и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипГород" use="required">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта город (волость и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимГород" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта город (волость и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="40"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="НаселПункт" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (село и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипНаселПункт" use="optional">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта населенный пункт (село и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимНаселПункт" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта населенный пункт (село и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Улица" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица (проспект, 
переулок и т.п.)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="ТипУлица" use="optional">
						<xs:annotation>
							<xs:documentation>Тип адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
							<xs:documentation>Принимает значение полного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="29"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="НаимУлица" use="required">
						<xs:annotation>
							<xs:documentation>Наименование адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="CCРФТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодАдрКладр" use="optional">
			<xs:annotation>
				<xs:documentation>Код адреса по КЛАДР</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="11"/>
					<xs:maxLength value="19"/>
					<xs:pattern value="[0-9]{11}"/>
					<xs:pattern value="[0-9]{15}"/>
					<xs:pattern value="[0-9]{19}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Дом (владение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус (строение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира (офис и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГРНИПДатаТип">
		<xs:annotation>
			<xs:documentation>ГРН и дата внесения записи в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи ЕГРИП</xs:documentation>
				<xs:documentation>Может отсутствовать, если запись в ЕГРИП вносилась без присвоения государственного регистрационного номера</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗаписи" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвРегОргТип">
		<xs:annotation>
			<xs:documentation>Сведения о регистрирующем органе</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНО" type="СОНОТип" use="required">
			<xs:annotation>
				<xs:documentation>Код органа по справочнику СОНО</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимНО" use="required">
			<xs:annotation>
				<xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="10"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УдЛичнТипР">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодВидДок" type="СПДУЛТип" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа по справочнику СПДУЛ </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимДок" use="required">
			<xs:annotation>
				<xs:documentation>Наименование документа по справочнику СПДУЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СерНомДок" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаДок" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ВыдДок" use="optional">
			<xs:annotation>
				<xs:documentation>Кем выдан документ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодВыдДок" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения, выдавшего документ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИО1Тип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии имени ФЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
				<xs:documentation>Является обязательным при отсутствии фамилии ФЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНТип">
		<xs:annotation>
			<xs:documentation>Основной  государственный регистрационный номер юридического лица  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНИПТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъектов Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
